[submodule "host_mem"]
	path = host_mem
	url = https://github.com/Beihang-yuting/host_mem.git
	branch = master
[submodule "pcie_work"]
	path = pcie_work
	url = https://github.com/Beihang-yuting/pcie_work.git
	branch = main
